@import url(style.css);
body {
    background-color: var(--Dark-Blue)
}

.title {
    margin: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.section {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 100px;
}

.title1 {
    font-family: 'Outfit';
    font-size: 3rem;
    font-style: normal;
    font-weight: 900;
    line-height: 3rem;
    /* 57.292% */
    letter-spacing: 1.17rem;
    text-transform: uppercase;
    margin-bottom: 2.87rem;
    background: var(--Gradient);
    -webkit-background-clip: text;
    color: transparent;
}
.subt {
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 300;
}

.result_zone {
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
    flex-wrap: wrap;
    justify-content: center;
}
.result_zone_item {
    width: fit-content;
    height: fit-content;
}
.result_zone_item img {
    width: 400px;
    height: auto;
    margin: 10px;
}