@import url(style.css);

body {
    background: var(--Gradient);
}

.search-contain {
    margin-top: 6.3725rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.search-contain .title {
    color: var(--Dark-Blue);
    font-family: 'Outfit';
    font-size: 3rem;
    font-style: normal;
    font-weight: 900;
    line-height: 1.71875rem;
    /* 57.292% */
    letter-spacing: 1.17rem;
    text-transform: uppercase;
    margin-bottom: 2.87rem;
}

.search-contain .searchInput {
    border-radius: 3.125rem;
    background: #FFF;
    box-shadow: 6px 8px 40px 0px rgba(0, 9, 29, 0.20);
    width: 48.3125rem;
    height: 5.3125rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
}

.search-contain .searchInput input {
    border: none;
    background: none;
    outline: none;
    width: 100%;
    height: 100%;
    margin-left: 2.38rem;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.71875rem;
    /* 137.5% */
    color: #00091D;
}

.search-contain .searchInput input::placeholder {
    color: #00091D;
    opacity: 0.5;
}

.search-contain .searchInput svg {
    width: 2.8125rem;
    height: 2.8125rem;
    margin: 1.25rem 1.69rem;
    cursor: pointer;
}

#suggestions {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    list-style: none;
    margin-top: 1.25rem;
    padding: 0;
    display: none;
    border: none;
    border-radius: 0.9375rem;
    box-shadow: 6px 8px 40px 0px rgba(0, 9, 29, 0.20);
    background-color: #fff;
}

#suggestions li {
    padding-left: 1.87rem;
    height: 3.125rem;
    line-height: 3.125rem;
    cursor: pointer;
    border-radius: 0.9375rem;
}

#suggestions li:hover {
    background-color: #f1f1f1;

}

.result {}

.hidden {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.visible {
    max-height: 3000px;
    /* Điều này có thể thay đổi tùy thuộc vào nội dung của bạn */
    opacity: 1;
    transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

table {

    width: 50rem;
    border-collapse: collapse;
    border-spacing: 0;
    margin-top: 1.25rem;
    border-top: rgba(0, 9, 29, 0.20) 0.2rem solid;
}

table td {
    padding: 0.69rem 1.81rem;
    text-align: center;
    vertical-align: top;
}

table tr td:last-child {
    text-align: left;
    text-wrap: wrap;
}

table tr th {
    font-family: 'Roboto';
    font-size: 1.25rem;
    font-weight: 800;
    line-height: 1.71875rem;
    padding: 1.94rem 1.81rem 0.69rem 1.81rem;
    white-space: nowrap;
}

table tr th:last-child {
    text-align: left;
}