@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@600;700;900&display=swap');

:root {
    --Dark-Blue: #00091D;
    --Gradient: linear-gradient(277deg, #8CD0D0 -15.83%, #8B8ADA 100%);
    --primary-color: #8B8ADA;
    --secondary-color: #8CD0D0;
    --third-color: rgba(255, 255, 255, 0.20);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7rem 9.94rem 8rem 7rem;
}

.header .logo {
    width: 17.5rem;
    height: auto;
}

.header .logo img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8.8rem;
    list-style: none;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.71875rem;
}

.navbar .active {
    background: var(--Gradient, linear-gradient(277deg, #8CD0D0 -15.83%, #8B8ADA 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: default;
}

.navbar .active-special {
    color: var(--Dark-Blue);
    cursor: default;
}